<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New post</title>
    
</head>
<body>
        <form action="/posts" method="post">
        <input type="text" placeholder="Enter Username" name="username" required>
        <br><br>
        <textarea name="content" id="" cols="30" rows="10" required></textarea
        ><br><br>
        <button onclick="history.back()"">Add Post</button>
       <%# <br><br>
        <button onclick="history.back()">Go Back</button> %>
    </form>
</body>
</html>